<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wing.WeiXin.MP.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="WeiXinMPSDKConfigGroup">
      <section name="Base" type="Wing.WeiXin.MP.SDK.ConfigSection.BaseConfig.BaseConfigSection, Wing.WeiXin.MP.SDK"/>
      <section name="Event" type="Wing.WeiXin.MP.SDK.ConfigSection.EventConfig.EventConfigSection, Wing.WeiXin.MP.SDK"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Wing.WeiXin.MP.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <WeiXinMPSDKConfigGroup>
    <Base Token="">
      <AccountList>
        <add WeixinMPID="" WeixinMPType="Service" AppID="" AppSecret=""/>
        <add WeixinMPID="" WeixinMPType="Subscription" AppID="" AppSecret=""/>
      </AccountList>
    </Base>
    <Event>
      <EventList>
        <add Name="Event1" IsAction="True"/>
        <add Name="Event2" IsAction="True"/>
      </EventList>
      <QuickConfigReturnMessageList>
        <add Key="" Path="C:\"/>
        <add Key="" Path="C:\"/>
      </QuickConfigReturnMessageList>
    </Event>
  </WeiXinMPSDKConfigGroup>
  <applicationSettings>
    <Wing.WeiXin.MP.SDK.Properties.Settings>
      <setting name="ConfigRootNameGroup" serializeAs="String">
        <value>WeiXinMPSDKConfigGroup</value>
      </setting>
    </Wing.WeiXin.MP.SDK.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <Wing.WeiXin.MP.SDK.Properties.Settings>
      <setting name="SystemUsername" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="AccessTokenHead" serializeAs="String">
        <value>AT_</value>
      </setting>
      <setting name="AccessTokenTimeHead" serializeAs="String">
        <value>ATT_</value>
      </setting>
    </Wing.WeiXin.MP.SDK.Properties.Settings>
  </userSettings>
</configuration>
