<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Wing.WeiXin.MP.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  
  </configSections>
  <applicationSettings>
    <Wing.WeiXin.MP.SDK.Properties.Settings>
        <setting name="ConfigRootNameGroup" serializeAs="String">
            <value>WeiXinMPSDKConfigGroup</value>
        </setting>
        <setting name="SystemUsername" serializeAs="String">
            <value>System</value>
        </setting>
        <setting name="AccessTokenHead" serializeAs="String">
            <value>AT_</value>
        </setting>
        <setting name="AccessTokenTimeHead" serializeAs="String">
            <value>ATT_</value>
        </setting>
        <setting name="TextMenuEventListSign" serializeAs="String">
            <value>TMEL</value>
        </setting>
        <setting name="TextMenuEventListExpiresSign" serializeAs="String">
            <value>TMELES</value>
        </setting>
        <setting name="FirstAccountToUserNameSign" serializeAs="String">
            <value>$</value>
        </setting>
        <setting name="RepetitionMessageTextSign" serializeAs="String">
            <value>RMT_</value>
        </setting>
        <setting name="RepetitionMessageCountSign" serializeAs="String">
            <value>RMC_</value>
        </setting>
        <setting name="JSAPITicketHead" serializeAs="String">
            <value>JSAPIT_</value>
        </setting>
        <setting name="JSAPITicketTimeHead" serializeAs="String">
            <value>JSAPITT_</value>
        </setting>
        <setting name="LastMsgIDKey" serializeAs="String">
            <value>LastMsgID</value>
        </setting>
        <setting name="DefaultAccountToUserNameSign" serializeAs="String">
            <value>&amp;</value>
        </setting>
        <setting name="AccessTokenURLSign" serializeAs="String">
            <value>[AT]</value>
        </setting>
    </Wing.WeiXin.MP.SDK.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
