<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WeiXinMPSDKConfigGroup">
      <section name="Base" type="Wing.WeiXin.MP.SDK.ConfigSection.BaseConfigSection, Wing.WeiXin.MP.SDK" />
      <section name="Event" type="Wing.WeiXin.MP.SDK.ConfigSection.EventConfig.EventConfigSection, Wing.WeiXin.MP.SDK" />
      <section name="Debug" type="Wing.WeiXin.MP.SDK.ConfigSection.DebugConfigSection, Wing.WeiXin.MP.SDK" />
      <sectionGroup name="Log">
        <section name="Base" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.LogConfigSection, Wing.WeiXin.MP.SDK" />
        <section name="RollingFileAppender" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.RollingFileAppenderConfigSection, Wing.WeiXin.MP.SDK" />
        <section name="AdoNetAppender" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.AdoNetAppenderConfigSection, Wing.WeiXin.MP.SDK" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <WeiXinMPSDKConfigGroup>
    <Base AppID="" AppSecret="" Token="" />
    <Debug IsDebug="true" />
    <Event UseGlobalEventHandler="true"
           UseWXUserGroupBaseEventHandler="true"
           UseWXUserBaseEventHandler="true"
           UseCustomEventHandler="true"
           UseBaseEventHandler="true" >
      <EventList>
        <add Name="Event1" IsAction="True" />
        <add Name="Event2" IsAction="True" />
      </EventList>
    </Event>
    <Log>
      <Base IsLog="true" />
      <RollingFileAppender Path="E:\\" MaxSizeRollBackups="-1" MaximumFileSize="50MB" />
    </Log>
  </WeiXinMPSDKConfigGroup>
</configuration>