<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WeiXinMPSDKConfigGroup">
      <section name="Base" type="Wing.WeiXin.MP.SDK.ConfigSection.BaseConfig.BaseConfigSection, Wing.WeiXin.MP.SDK" />
      <section name="Event" type="Wing.WeiXin.MP.SDK.ConfigSection.EventConfig.EventConfigSection, Wing.WeiXin.MP.SDK" />
      <section name="Debug" type="Wing.WeiXin.MP.SDK.ConfigSection.DebugConfigSection, Wing.WeiXin.MP.SDK" />
      <sectionGroup name="Log">
        <section name="Base" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.LogConfigSection, Wing.WeiXin.MP.SDK" />
        <section name="RollingFileAppender" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.RollingFileAppenderConfigSection, Wing.WeiXin.MP.SDK" />
        <section name="AdoNetAppender" type="Wing.WeiXin.MP.SDK.ConfigSection.LogConfig.AdoNetAppenderConfigSection, Wing.WeiXin.MP.SDK" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <WeiXinMPSDKConfigGroup>
    <Base Token="cD3YeZ9uEp3gHP6y0STYpE3">
      <AccountList>
        <add WeixinMPID="gh_7f215c8b1c91" WeixinMPType="Service" AppID="wx52da88b5bb5b2f3e" AppSecret="b38a61be5de50a8100739521f6da2c7b" />
        <add WeixinMPID="" WeixinMPType="Subscription" AppID="" AppSecret="" />
      </AccountList>
    </Base>
    <Debug IsDebug="true" />
    <Event UseGlobalEventHandler="true"
           UseWXUserGroupBaseEventHandler="false"
           UseWXUserBaseEventHandler="false"
           UseCustomEventHandler="true" >
      <EventList>
        <add Name="Event1" IsAction="True" />
        <add Name="Event2" IsAction="True" />
      </EventList>
    </Event>
    <Log>
      <Base IsLog="true" />
      <RollingFileAppender Path="E:\\" MaximumFileSize="50MB" />
    </Log>
  </WeiXinMPSDKConfigGroup>
</configuration>